<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{126,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,166}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,836},{100,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,136}</string>
			</dict>
			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,1778},{96,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,135}</string>
			</dict>
			<key>10s.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,976},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,2},{101,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,135}</string>
			</dict>
			<key>11s.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,976},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1436},{100,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,134}</string>
			</dict>
			<key>12s.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,976},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1871},{101,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,136}</string>
			</dict>
			<key>13s.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,976},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,1675},{97,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,136}</string>
			</dict>
			<key>14s.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,1955},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1449},{102,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,137}</string>
			</dict>
			<key>15s.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,1955},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,141},{101,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,135}</string>
			</dict>
			<key>16s.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1955},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,836},{100,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,136}</string>
			</dict>
			<key>17s.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1955},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1815},{96,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,136}</string>
			</dict>
			<key>18s.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1955},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1871},{101,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,136}</string>
			</dict>
			<key>19s.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1955},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>1s.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,1955},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,1815},{96,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,136}</string>
			</dict>
			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,1261},{100,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,134}</string>
			</dict>
			<key>20s.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,1362},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,280},{101,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,135}</string>
			</dict>
			<key>21s.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,1417},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1537},{97,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,135}</string>
			</dict>
			<key>22s.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,1472},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1731},{102,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,136}</string>
			</dict>
			<key>23s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,2},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1020},{101,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,134}</string>
			</dict>
			<key>24s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,57},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1447},{101,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,136}</string>
			</dict>
			<key>25s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,112},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,1815},{97,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,136}</string>
			</dict>
			<key>26s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,167},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>27.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1306},{102,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,137}</string>
			</dict>
			<key>27s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,222},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>28.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,419},{101,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,135}</string>
			</dict>
			<key>28s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,277},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>29.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,1020},{100,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,136}</string>
			</dict>
			<key>29s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,332},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>2s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,387},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1587},{101,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,136}</string>
			</dict>
			<key>30.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1638},{96,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,136}</string>
			</dict>
			<key>30s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,442},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1727},{101,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,136}</string>
			</dict>
			<key>31s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,497},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1574},{100,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,134}</string>
			</dict>
			<key>32s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,552},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1158},{99,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,136}</string>
			</dict>
			<key>33s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,607},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,1261},{97,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,137}</string>
			</dict>
			<key>34s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,662},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>35.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,1160},{100,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,136}</string>
			</dict>
			<key>35s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,717},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>36.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,1537},{99,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,134}</string>
			</dict>
			<key>36s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,772},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>37.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1458},{103,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,139}</string>
			</dict>
			<key>37s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,2},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>38.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,1601},{102,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,138}</string>
			</dict>
			<key>38s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,57},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>39.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,1458},{102,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,139}</string>
			</dict>
			<key>39s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,112},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>3s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,167},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1712},{100,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,134}</string>
			</dict>
			<key>40.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1601},{103,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,139}</string>
			</dict>
			<key>40s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,222},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1887},{103,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,138}</string>
			</dict>
			<key>41s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,277},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1306},{102,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,139}</string>
			</dict>
			<key>42s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,332},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,1743},{102,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,138}</string>
			</dict>
			<key>43s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,387},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>44.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,1164},{104,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,138}</string>
			</dict>
			<key>44s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,442},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>45.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,1021},{104,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,139}</string>
			</dict>
			<key>45s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,497},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>46.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,1885},{102,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,138}</string>
			</dict>
			<key>46s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,552},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>47.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1744},{103,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,139}</string>
			</dict>
			<key>47s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,607},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>48.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1315},{105,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,139}</string>
			</dict>
			<key>48s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,662},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>49.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1158},{100,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,135}</string>
			</dict>
			<key>49s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,717},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>4s.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,772},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,1867},{101,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,136}</string>
			</dict>
			<key>50.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1917},{96,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,135}</string>
			</dict>
			<key>50s.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,2},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,558},{101,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,135}</string>
			</dict>
			<key>51s.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,57},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,1399},{100,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,134}</string>
			</dict>
			<key>52s.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,112},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>5s.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,167},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1675},{97,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,136}</string>
			</dict>
			<key>6s.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,222},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1590},{102,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,137}</string>
			</dict>
			<key>7s.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,277},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,697},{101,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,135}</string>
			</dict>
			<key>8s.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,332},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1297},{100,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,135}</string>
			</dict>
			<key>9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,387},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>card_layer_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,172},{126,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,166}</string>
			</dict>
			<key>card_layer_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,342},{126,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,166}</string>
			</dict>
			<key>layer_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,512},{126,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,166}</string>
			</dict>
			<key>layer_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,682},{126,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,166}</string>
			</dict>
			<key>00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,852},{126,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,165}</string>
			</dict>
			<key>1ss.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,442},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>44ss.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,497},{40,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,51}</string>
			</dict>
			<key>joker_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1021},{104,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,143}</string>
			</dict>
			<key>joker_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1168},{104,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,143}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CardsV2.png</string>
			<key>realTextureFileName</key>
			<string>CardsV2.png</string>
			<key>size</key>
			<string>{975,2027}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>975</integer>
			<key>height</key>
			<integer>2027</integer>
		</dict>
	</dict>
</plist>